body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(20, 20, 20);
    height: 100vh;
    width: 100vw;
    margin: 0rem;
    overflow: hidden;
}

body::-webkit-scrollbar {
    display: none;
}


nav {
    display: flex;
    justify-content: center;
    gap: 1em;
    min-height: 10vh;
    align-items: center;
}


footer {
    display: relative;
}

footer a {
    position: absolute;
    bottom: 1em;
    right: 1em;
    text-decoration: none;
    font-size: 0.75rem;
    color: rgb(147, 147, 147);

    transition: color 200ms ease-in-out;
}

footer a:hover {
    color: rgb(200, 200, 200);
}


h1 {
    color: rgb(147, 147, 147);
    font-size: 1rem;
    font-weight: lighter;
    cursor: pointer;

    transition: color 250ms ease-in-out;
}

h1:hover {
    color: white;
}

h1.selected {
    color: white !important;
}

#content {
    min-height: 70vh;
    margin-top: 10vh;
}


#about_section {
    max-width: 80%;
    margin: 0 auto;
    text-align: center;
}

#about_section div {
    display: flex;
    justify-content: center;
}

#about_section div p {
    font-size: 1rem;
    text-align: center;
}


@media only screen and (min-width: 410px) {
    #about_section div p {
        font-size: 1.25rem;
    }
}

@media only screen and (min-width: 600px) {
    #about_section div p {
        font-size: 1.5rem;
    }
}

@media only screen and (min-width:900px) {
    #about_section div p {
        font-size: 1.75rem;
    }
}


#about_section h2 {
    color: rgb(200, 200, 200);
    font-size: x-large;
}


p {
    color: rgb(200, 200, 200);
    max-width: 60ch;
    /* margin: 0 auto; */
    text-align: justify;

    transition: color 100ms ease-in-out;
    margin-bottom: 2em;
    line-height: 200%;
}


#links a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    padding: 1em 2em;
    border-radius: .5em;

    transition: background-color 200ms ease-in-out;
}

#links a:hover {
    cursor: pointer;
}


.cta {
    text-decoration: underline;
    color: rgb(200, 200, 200);
    text-underline-offset: 4px;

    transition: color 300ms ease-in-out;
}

.cta:hover {
    color: rgb(169, 46, 169);
}


#resume {
    background-color: rgb(255, 80, 80);
}

#resume:hover {
    background-color: rgb(227, 67, 67);
}

#linkedin {
    background-color: rgb(0, 119, 181);
}

#linkedin:hover {
    background-color: rgb(0, 99, 152);
}


@media only screen and (min-width: 750px) {
    #work_section {
        grid-template-columns: auto auto;
        gap: 3em;
        
    }
}

@media only screen and (min-width: 1050px) {
    #work_section {
        grid-template-columns: auto auto auto;
        gap: 5em;
    }
}



img {
    transition: all 250ms ease-in-out;
    opacity: 80%;
}

img:hover {
    opacity: 100%;
    transform: scale(1.05);
}


div.hidden {
    display: none;
}


